/* https://coolors.co/palette/ffbc42-d81159-8f2d56-218380-73d2de */



#pageName {
    color: gray;
}

header{
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .active {
        font-weight: bold;
    }
}

#gamesListing {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;

}
